.containerr
{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
}
h1
{
    text-align:;
    font-size: 2.8rem;
    font-weight: 700;
    margin: 20px 0 40px 0;
    padding: 20px;
    color: #000000;
}