* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: normal;

}
.containerr {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.loginbg {
    background-image: url("assets/img/wmremove-transformed.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
    min-height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.loginwindow
{
    width: 30%;
    opacity: 1.0 !important;
    background-color: rgba(255, 255, 255);
    color: black !important;
    border-radius: 10px;
    font-family: "Google Sans Flex", sans-serif;
    font-weight: 400;
    font-size: 50px;
    font-style: normal;
    display: flex;
    flex-direction: column;
}

.login-text-form
{
    font-size: 15px;
    font-family: "Google Sans Flex", sans-serif;
    font-weight: 250;
    color: gray;
    margin: 0 50px;
}

.loginwindow input
{
    width: 80%;
    height: 40px;
    margin: 0 50px 20px 50px;
    border-radius: 7px;
    border: 1px solid rgb(199, 199, 199);
    font-weight: 450;
    font-size: 15px;
    padding-left: 10px;
}
.btnflex
{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}
.loginbtnform
{
    display: flex;
    justify-content: center;
    width: 20%;
    height: 40px;
    margin: 20px 50px;
    border-radius: 7px;
    background-color: rgb(195, 195, 195);
    color: white;
    
    line-height: 40px;
    text-decoration: none;
    font-weight: 200;
    font-size: 15px;
    text-decoration: none;
}
.loginbtnform:hover
{
    background-color: rgb(0, 0, 0);
    
    transition: 0.3s;
}
.loginbtnform:active
{
    transform: scale(0.95);
}
.checkbox-label
{
    display: flex;
    align-items: center; 
    width: auto;
    margin: 0 50px 20px 50px; 
    font-size: 12px;
    color: gray;
    white-space: nowrap;
}
.checkbox-label input[type="checkbox"] {
    margin: 0 5px 0 0;
    width: 15px;
    height: 15px;
    cursor: pointer;
}
.checkbox-label a
{
    text-decoration: none;
    color: gray;
    margin: 0 0 0px 185px;
    margin-left: auto;
}
.signinmain
{
    font-size: 30px;
    margin: 50px 50px 20px 50px;
    font-weight: 400;
    
}
.registrationbtn
{
    font-size: 12px;
    margin: 0 50px 20px 50px;
    color: gray;
}
@media (max-width: 992px) {
    .loginwindow {
        width: 60%; 
    }
}


@media (max-width: 600px) {
    .loginwindow {
        width: 90%; 
        padding: 20px 0;
    }

   
    .signinmain, 
    .login-text-form, 
    .checkbox-label, 
    .registrationbtn {
        margin-left: 20px;
        margin-right: 20px;
    }

    
    .loginwindow input {
        width: auto; 
        margin-left: 20px;
        margin-right: 20px;
        display: block; 
    }

    
    .loginbtnform {
        width: 100%; 
        margin: 20px; 
    }
    
    
    .signinmain {
        font-size: 24px;
        text-align: center;
    }
}   